ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"

repos:
  - repo: https://github.com/datarootsio/databooks
    rev: 1.3.10
    hooks:
      - id: databooks-meta
        args:
          [
            "--cell-meta-keep=tags",
            "--cell-fields-keep=id",
            "--nb-meta-keep=kernelspec",
          ]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^data/
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^data/
      - id: mixed-line-ending
        exclude: ^data/
      - id: check-added-large-files
        args: ["--maxkb=8192"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args: ["--fix", "--select=I"]
      - id: ruff-format
      - name: ruff preview rules
        id: ruff
        args: ["--preview", "--select=PLR0917"]
