ci:
  autoupdate_commit_msg: "ci: pre-commit autoupdate"

repos:
  - repo: https://github.com/kynan/nbstripout
    rev: 0.8.2
    hooks:
      - id: nbstripout
        args: ["--keep-output", "--keep-metadata-keys=tags"]

  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
        exclude: ^data/
      - id: check-yaml
      - id: end-of-file-fixer
        exclude: ^data/
      - id: mixed-line-ending
        exclude: ^data/
      - id: check-added-large-files
        args: ["--maxkb=8192"]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.11
    hooks:
      - id: ruff-check
        args: ["--fix", "--select=I"]
      - id: ruff-format
      - name: ruff preview rules
        id: ruff
        args: ["--preview"]
